html {
    text-align: center;
}

.header-Home-Page {
  background-color: #3c643c;
  padding: 10px;
  position: center;
  width: 100%;
  margin: 0 auto;
}

.nav-Home-Page{
  background-color: #024f02;
  text-align: center;
  padding: 5px;
  position: center;
  width: 100%;
  margin: 0 auto;   
}

nav a{
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 8px;
    padding: 3px 6px;
}

.body-Home-Page {
  background-image: url('Asset/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.welcome-message {
    font-size: 20px;
    color: white;
    margin: 80px 0 20px 0;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.welcome-message h1 {
  font-size: 32px;
  margin: 0 0 6px 0;
  text-shadow: 8px 8px 20px rgba(0,0,0,0.7);
}

.bloemetjes {
  background-color: transparent;
  position: relative;
  padding: 10px 0 0 0;
  margin: 10% auto 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.bloemetjes h5 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 10px;
  z-index: 1;
}

.bloemetjes::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 7%;
  transform: translateY(0px);
  height: 50px;
  background-color: #3c643c;
  z-index: 0;
}

.flower-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  padding: 10px 5px;
  width: 100%;
  margin: 10px auto 0 auto;
  margin: -10px auto 0 auto;
  background-color: white;
  justify-content: flex-start;
  
}

@media (max-width: 900px) {
  .flower-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .flower-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.flower-gallery img {

  width: 200px;
  height: 175px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flower-card p {
  margin: 5px;
  font-size: 20px;
  color: #333;
  padding: 20px;
  background-color: #c8e6c9;
  border-radius: 15px;
}

.uitleg-Nora {
    background-color: #3c643c;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: -10px auto 20px auto;
    margin-bottom: 20px auto;
    width: 100%;
    max-height: 400px;
    text-align: center;
    overflow: auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-image {
    border-radius: 10px;
    width: 150px;
    height: 180px;
    margin-left: -450px;
    margin-right: 300px;
    margin-top: -100px;
    display: block;
    object-fit: cover;
    
}

.uitleg-Nora h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0;
}

.uitleg-Nora p {
    font-size: 12px;
    color: white;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2f4f36;
  color: #fff;
  padding: 12px 20px 8px;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1000;
}

.footer-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: flex-start;
}

.footer-left p {
  text-align: left;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
}
.footer-right p {
  text-align: right;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
}

.footer-right h4 {
  margin: 0 0 8px 0;
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-right {
    margin-top: 6px;
    text-align: left;
  }
}



.header-Assortiment {
  background-color: #3c643c;
  padding: 10px;
  position: center;
  width: 100%;
  margin: 0 auto;
}

.nav-Assortiment{
  background-color: #024f02;
  text-align: center;
  padding: 5px;
  position: center;
  width: 110%;
  margin: -10px auto;   
  margin-left: -80px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.Assortiment-body {
  display: grid;
  background-color: #f0f8f0;
  font-family: Arial, sans-serif;
  background-position: center 80px;
  margin: 0;
  padding: 0;
}

.flower-gallery-Assortiment {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  padding: 10px 5px;
  width: 45%;
  max-height: 100%;
  margin: 0 auto 0 auto;
  background-color: white;
}

.flower-gallery-Assortiment_1 {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 5px;
  margin-left: 10px;
}

.flower-gallery-Assortiment_2 {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  margin-top: 150px;
  margin-left: -657px;
}

.flower-gallery-Assortiment_3 {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  margin-top: -150px;
  margin-left: -320px;
}

.flower-gallery-Assortiment img{
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: center;
  padding: 5px;
}

.flower-card-Assortiment p {
  margin: 2px;
  font-size: 8px;
  color: #333;
  padding: 5px;
  background-color: #c8e6c9;
  border-radius: 4px;
  max-width: 150px;
  margin-left: 10px;
}

.flower-card-Assortiment-large img {
  height: 250px;
  width: 320px;
  grid-column: span 2;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 5px;
  margin-left: -403%;
  margin-top: 150px;
}

.flower-card-Assortiment-large p {
  margin: 2px;
  font-size: 8px;
  color: #333;
  padding: 5px;
  background-color: #c8e6c9;
  border-radius: 4px;
  max-width: 320px;
  margin-left: -665px;
}

@media (max-width: 900px) {
  .Assortiment-body {
    grid-template-columns: repeat(4, 3fr);
  }
}

@media (max-width: 600px) {
  .Assortiment-body {
    grid-template-columns: repeat(4, 3fr);
  }
}

.Random-Line {
    width: 100%;
    height: 40px;
    background-color: #3c643c;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: -12px;
    position: relative;
    z-index: 999;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2f4f36;
  color: #fff;
  padding: 12px 20px 8px;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1000;
}

.footer-container-Assortiment {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: flex-start;
}

.footer-left-Assortiment p{
  text-align: left;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
}

.footer-right-Assortiment p {
  text-align: right;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
}

.footer-right-Assortiment h4 {
  margin: 0 0 8px 0;
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-right {
    margin-top: 6px;
    text-align: left;
  }
}


.header-Contact {
  background-color: #3c643c;
  padding: 10px;
  position: center;
  width: 100%;
  margin: 10 auto;
  margin-left: -10px;
  margin-top: -10px;
}

.nav-Contact-Page{
  background-color: #024f02;
  text-align: center;
  padding: 5px;
  position: center;
  width: 100%;
  margin: 0 auto;   
}

.body-Contact {
  background-color: rgb(76, 121, 70);
  color: white;
  font-family: sans-serif;
  background-position: center 80px;
  margin: 0;
  padding: 0;
}

.intro-section {
  text-align: left;
  margin-left: 150px;
  max-width: 500px;
}

#h1 {
  text-align: center;
  font-size: 30px;
}

#Intro-Info {
  text-align: left;
  margin-top: 100px;
  margin-left: 150px;
  max-width: 500px;
}

.Mr_Kirk {
  position: right;
  margin-top: -275px;
  margin-left: -100px;
}

#message {
  margin-left: 750px;
  margin-top: 20px;
  border-radius: 10px;
  height: 200px;
  width: 400px;
}

#email {
  margin-left: 750px;
  margin-bottom: -15px;
  border-radius: 5px;
  margin-top: 20px;
  width: 400px;
  height: 30px;
}

#verzenden {
  margin-left: 750px;
  margin-top: 20px;
  height: 30px;
  width: 300px;
  border-radius: 60px;
  background-color: #d7ecac;
}

.Random-Line_1 {
  background-color: #d7ecac;
  width: 100%;
  height: 30px;
  position: relative;
  z-index: 999;
}

.Random-Line_2 {
    width: 100%;
    height: 30px;
    background-color: #d7ecac;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-top: -12px;
    position: relative;
    z-index: 999;
}

.Random-Line_3 {
  background-color: #488048;
  width: 100%;
  height: 40px;
  margin-left: -20px;
  margin-bottom: 40px;
  position: relative;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2f4f36;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1000;
}

.footer-container-Contact {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: flex-start;
}

.footer-left-Contact p{
  text-align: left;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
  margin-bottom: 10px;
}

.footer-right-Contact p {
  text-align: right;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #eef6ea;
  margin-bottom: 10px;
}

.footer-right-Contact h4 {
  margin: 0 0 8px 0;
  font-size: 12px;
  color: #ffffff;
}

/*Here starts The Index.html css*/
.index-container{max-width:900px;margin:48px auto;padding:16px;text-align:left}
		.site-list{display:grid;gap:12px}
		.site-card{display:flex;align-items:center;gap:12px;padding:12px;border-radius:8px;background:#f6f6f6}
		.site-card img{width:96px;height:64px;object-fit:cover;border-radius:6px}
		.site-card a{font-weight:700;color:#0b6b0b;text-decoration:none}
		.site-card p{margin:4px 0;color:#333}