html {
    text-align: center;
}

header {
  background-color: #3c643c;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #024f02;
  text-align: center;
  padding: 5px;   
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0px 5px;
}

body {
    background-image: url('Asset/Background.jpg');
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position: center 100px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.welcome-message {
    font-size: 10px;
    color: white;
    margin: 50px 0 20px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.bloemetjes {
  background-color: #3c643c;
  padding: 1px;
  margin: 74px auto 20px auto;
  text-align: center;
  line-height: 0.03;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.flower-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 5px;
  max-width: 300px;
  margin: -20px auto 0 auto;
  background-color: white;
}

.flower-gallery img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flower-card p {
  margin: 2px;
  font-size: 8px;
  color: #333;
  padding: 5px;
  background-color: #c8e6c9;
  border-radius: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3c643c;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}