html {
    text-align: center;
}

header {
  background-color: green;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: darkgreen;
  text-align: center;
  padding: 10px;   
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0px 5px;
}

body {
    background-image: url('Asset/Background.jpg');
    background-size: 750px 375px;
    image-center: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darkgreen;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}