html {
    text-align: center;
}

header {
  background-color: green;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: darkgreen;
  text-align: center;
  padding: 10px;   
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darkgreen;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}